*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color: white;
    margin-bottom: 20px;
}

.piano{
    position: relative;
    display: flex;
}

.white-key{
    background: white;
    height: 300px;
    width: 70px;
    border: 1px solid black;
    color: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-weight: 600;
    text-transform: uppercase;
}

.black-key{
    position: absolute;
    background: black;
    height: 180px;
    width: 45px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-weight: 600;
    text-transform: uppercase;
}
.active {
    scale: .95;
}
/* Black keys proper positions */
.key1{ left: 50px; }
.key2{ left: 120px; }
.key3{ left: 260px; }
.key4{ left: 330px; }
.key5{ left: 400px; }
.key6{ left: 540px; }
.key7{ left: 610px; }
.key8{ left: 750px; }
.key9{ left: 820px; }
.key10{ left: 890px; }
