*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.main{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
    padding: 20px 30px;
    background: red;
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
    position: relative;
    z-index: 9;
}
button:active{
    scale: 0.90;
}