*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.card p {
    margin-bottom: 20px;
    text-align: center;
    font-size: 26px;
}
.card span {
    color: rgb(38, 135, 135);
}
.card{
  height: 40%;
  width: 40%;
  background-color: rgb(224, 218, 218);
  border-radius: 15px;
  padding: 50px;
}
.outer {
    height: 10%;
    width: 100%;
    background-color: rgb(184, 184, 184);
    border-radius: 50px;

}
.inner {
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 50px
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.bottom button{
    padding: 15px 20px;
    background-color: rgb(27, 62, 164);
    color: white;
    border-radius: 10px;
}
.bottomm h2 {
    font-size: 100px;
}
.bottom button:active {
    scale: .90;
}
