*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.card{
  height: 60%;
  width: 20%;
  background-color: rgb(224, 218, 218);
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.card div{
    position: relative;
    overflow: hidden;
}
.card img{
    height: 300px;
    width: 100%;
    padding: 5px;
    border-radius: 20px;
}
.upper{
    width: 100%;
    background-color: rgb(223, 216, 216);
    display: flex;
    align-items: center;

}
.upper img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.upper h3{
    font-weight: 400;
}
.card h1{
    font-weight: 600;
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}
.card i{
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale() rotate(-90deg);
    font-size: 70px;
    background-image: url(https://img.freepik.com/free-vector/instagram-background-gradient-colors_23-2147835127.jpg?semt=ais_incoming&w=740&q=80);
    background-size: cover;
    color: transparent;
    background-clip: text;
    transition: all cubic-bezier(.65,1,.77,1.44) 0.4s;
}